* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3CCEE8;
}

h1 {
  color: #3C73E8;
  font-size: 50px;
  font-family: 'Nunito';
  padding-top: 80px;
  padding-bottom: 30px;
}

.wrapper {
  text-align: center;
}

input {
 width: 360px;
 height: 30px;
 border: 1px solid #ccc;
 padding: 3px 10px;
}

.add_btn {
  width: 65px;
  height: 38px;
  background-color: #E85676;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.add__btn:hover {
  background-color: #CF4C69;
}

.delete_btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

.list {
  margin-top: 30px;
}

.list_item {

}

.delete_item {
  float: right;
}
