* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3CCEE8;

}

/*TOP SECTION*/
.top {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

h1 {
  color: #3C73E8;
  font-size: 50px;
  font-family: 'Nunito';
}

.input {
  padding-top: 30px;
}

input {
 width: 360px;
 height: 35px;
 border: 1px solid #ccc;
 padding: 3px 10px;
}

input[type="text"] {
  font-size: 20px;
}



.add_btn {
  width: 65px;
  height: 40px;
  background-color: #E85676;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 15px
}

.add_btn:hover {
  background-color: #CF4C69;
}

/*BOTTOM SECTION*/

.bottom {
  margin-top: 25px;
  height: calc(100vh - 265px);
}

.list {
  display: flex;
  width: 100%;
  height: calc(100vh - 265px);
  justify-content: center;
}

.list_item {
  width: 500px;
  height: 30px;
}

.item_description {
  font-family: 'Nunito';
  float: left;
  font-size: 20px;
  color: #292f33;

}

.delete_btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

.delete_item {
  padding-top: 4px;
  float: right;
  cursor: pointer;
}

ion-icon {
  font-size: 23px;
  color: #292f33;
}

ion-icon:hover {
  color: red;
}
