* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3CCEE8;
}

h1 {
  color: #3C73E8;
  font-size: 50px;
  font-family: 'Nunito';
  padding-top: 80px;
  padding-bottom: 30px;
}

.wrapper {
  text-align: center;
}

input {
 width: 360px;
 height: 35px;
 border: 1px solid #ccc;
 padding: 3px 10px;
}

input[type="text"] {
  font-size: 20px;
}



.add_btn {
  width: 65px;
  height: 40px;
  background-color: #E85676;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 15px
}

.add__btn:hover {
  background-color: #CF4C69;
}

.delete_btn {
  background-color: Transparent;
  border: none;
  cursor: pointer;
}

.list {
  margin-top: 50px;
}

.list_item {
  margin-left: 240px;
  margin-right: 240px;
}

.item_description {
  font-family: 'Nunito';
  float: left;
  font-size: 20px;
  color: #292f33;

}

.delete_item {
  padding-top: 4px;
  float: right;
  cursor: pointer;
}

ion-icon {
  font-size: 23px;
  color: #292f33;
}

ion-icon:hover {
  color: red;
}